.peak{
    .mb-72{
        margin-bottom: 72px;
    }

    .peak__img{
        min-width: 100%;
    }

    .peak__heading{
        margin-bottom: 18px;
    }

    .peak__desc{
        text-align: justify;
        color: #6e84a3;
        font-size: 19px;
    }
}

@media (max-width: 524px) {
    #mobile-reverse-column {
        flex-direction: column-reverse;
    }
}