.fund {
    text-align: center;

    .fund__heading {
        font-size: 42px;
    }

    .fund__desc {
        text-align: center;
        color: #6e84a3;
        font-size: 19px;
        margin:18px 0 72px;
    }

}

@media (max-width: 524px) {
    .fund {
        .fund__heading {
            font-size: 32px;
        }

    }
}
